<div class="flex border-2 m-2">
    <!-- Image -->
    <img class="w-44 basis-2/5" src="/images/<%=resim%>" alt="">
    <!-- İnfo -->
    <div class="flex flex-col basis-4/5 justify-start items-center">
        <a href="/blogs/<%=blogid%>"><h2 class="text-2xl font-bold mb-4"><%=baslik%></h1></a>
        <p class="p-2"><%=altbaslik%></p>
    </div>
</div>