
<a href="/" class="p-3 rounded-lg border-2 <%=selectedCategory == null ?'text-white bg-blue-600' : '' %>">Tüm Kurslar</a>
<% categories.forEach(category => { %>
    <a 
    class="p-3 rounded-lg border-2
    <%= selectedCategory == category.url ? 'text-white bg-blue-600':'' %>" 
    href="/blogs/category/<%=category.url%>"><%=category.name%></a>
  <% }) %>