<div class="flex items-center w-full h-16 bg-blue-500 text-xl text-white space-x-8 p-2 rounded-sm">
    <a class="hover:text-white" href="/">Blogapp</a>
    <a class="hover:text-white" href="/blogs">Blog Listesi</a>
    <a class="hover:text-white" href="/admin/blog/create">Blog Create</a>
    <a class="hover:text-white" href="/admin/blogs">Admin Blog Listesi</a>
    <a class="hover:text-white" href="/admin/categories">Admin Category Listesi</a>
    <a class="hover:text-white" href="/admin/category/create">Category Create</a>
  
    
</div>